*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
TODO
_*
archive.json
draft-gupta-httpbis-per-resource-events.xml
package-lock.json
report.xml
!requirements.txt
